PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/veritas_ai
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
HUGGINGFACE_API_KEY=your_huggingface_api_key_here
HUGGINGFACE_TEXT_MODEL=facebook/roberta-hate-speech-dynabench-r4-target
OCR_API_URL=https://api.ocr.space/parse/image
OCR_API_KEY=helloworld
